*{
    padding:0;
    margin:0; 
    box-sizing:border-box;
}
body{
    background-color:#6ab04c ;
  font-family: "IBM Plex Sans", sans-serif;

}
.row{
    width:100%;
    margin:2rem;
}

.main{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
width:50%;
height: 50%;
box-shadow:2px 2px 5px black ;
border-radius: 2%;
background-color: #d1d8e0;
padding: 15px;

}
.btn{
    width: 70%;
    border-radius: 2%;
    border: 6px 2px rgb(124, 31, 31);
    background-color: #687d96;
    display: block;
    height: 25px;
    margin-top: 20px;
    margin-left: 100px;
}



